
<body>


<header class="background-grey" id="header-wrapper">
    <h1 id="main-h1">Dad jokes</h1>
    <div id="header-btns">
        <a href="/get" class="btn">random</a>
        <a href="/" class="btn">all</a>
    </div>
</header>
