<hr>
<% for( let obj of movies ) {%>
    <div class="movie">
        <div class="movie_name"><%=obj["title"]%></div>
        <div class="movie_synopsis"><%=obj["synopsis"]%></div>
    </div>
<hr>
<% } %>
