h1, p {
    margin:0;
}

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: cursive;
}

body {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none !important;
}

.background-grey {
    background: lightslategrey;
}

.joke-container {
    width: 90%;
    font-size: x-large;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid grey;
    background: lightgray;
    margin: 9px 0;
    padding: 10px 10px;
    box-shadow: 4px 4px 4px black;
}

#header-wrapper {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    padding-left: 5%;
    width: 100%;
    height: 12%;
}

#main-wrapper {
    overflow: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

#page-title-desc {
    padding-left: 10%;
}

#footer-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 8%;
}

#footer-content {
    text-align: center;
}

