body, html, header, footer{
    padding: 0;
    margin: 0;
}

body, html {
    display: flex;
    flex-direction: column;
    height:100%;
    width: 100%;
}

header, footer {
    height: 10%;
    background: darkred;
    color: white;
    font-weight: bolder;
    font-size: 1.25em;
}

header, footer, #main-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

#main-wrapper {
    height: 100%;
}


.clr-red {
    color:red;
    font-weight: bold;
}
