<footer>
    <div style="display: inline">
        Les images et données de ce site proviennent de
        <a href="https://fr.freepik.com/">Freepik</a>
        et
        <a href="https://www.allocine.fr/">Allociné</a>
    </div>
</footer>