<header>
    <div id="header-title">Best Old Movies!</div>
    <div class="button-list">
        <a href="/" class="btn">Home</a>
        <a href="/movies/list" class="btn">List</a>
        <a href="/movies/create" class="btn">Create</a>
    </div>
</header>