<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <title>EJS</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>

<%-include('../partials/head')%>
<%-body%>
<%-include('../partials/foot')%>

</body>
</html>