<header>
    <h1 id="header-title">Best Old movies</h1>
    <div class="button-list">
        <a href="/movies">/movies</a>
        <a href="/movies/create">/movies/create</a>
        <a href="/movies/update">/movies/update</a>
        <a href="/movies/read">/movies/read</a>
        <a href="/movies/delete">/movies/delete</a>
    </div>
</header>