@use 'placeholders.scss' as *;
@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');

body, html {
	@extend %remove-spacing;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	font-family: 'Unica One', cursive;
	color: white;
	font-weight: 400;
}

h1, button { @extend %remove-spacing; }
a { text-decoration: none; }

input {
	$vpad: 1%;
	height: 25%;
	margin: $vpad 0 $vpad 0;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	//noinspection CssUnknownTarget
	background: url('/img/jarvis.jpg') center;
	background-size: cover;
}

header, footer {
	@extend %remove-spacing;
	box-sizing: border-box;
	height: 10%;
}

header {
	$side-pad: 2%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-sizing: border-box;
}


footer {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

#main-wrapper {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#login-btn, #header-side-text {
	height: 100%;
	width: 20%;
}

#login-btn {
	$vpad: .5%;
	$hpad: 1%;
	box-sizing: border-box;
	padding: $vpad $hpad $vpad $hpad;
}

#form-title {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.5em;
	height: 100px;
}

#form-wrapper {
	color: black;
	background: white;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 1% 1% 1% 1%;
	width: 300px;
	height: 220px;
}

#form-btn-wrapper {
	width: 250px;
	height: 100px;
}

#form-inputs {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	margin-bottom: 10px;
	&> * {
		display: flex;
		width: 100%;
	}
}

#header-side-text {
	display: flex;
	align-items: center;
	justify-content: center;
}

.small-text {
	letter-spacing: 3px;
	font-size: 1rem;
}

.big-text {
	letter-spacing: 6px;
	font-size: 2.75rem;
	font-weight: 700;
}

.err {
	font-weight: bolder;
	color: red;
	font-size: 1em;
	letter-spacing: .2em;
}
.btn-primary {
	border: 0;
	background: rgba(55,166,170,0.90);
	text-decoration: none !important;
	color: white;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;

	&:hover {
		background: rgba(55,166,170,0.80);
	}

	&:active {
		background: rgba(55,166,170,0.70);
	}
}