body, html, h1 {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body, html {
  background: #b5b5b5;
  color: white;
}

*, :before, :after {
  box-sizing: border-box;
}

#homepage-text {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

a {
  color: blue;
  text-decoration: none;
}

.btn {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  background: #2051a9;
  color: white;
  font-weight: bolder;
  padding: 0 10px 0 10px;
}
.btn:hover {
  background: #1d4897;
}
.btn:active {
  background: #0c1e3e;
}

body {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  background: url("../image/bg.jpg");
}

header, footer {
  width: 100%;
  background: rgba(255, 255, 255, 0);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  box-sizing: border-box;
}

header {
  height: 20%;
  display: flex;
  background: black;
  align-items: center;
  justify-content: space-around;
  font-weight: bolder;
  background: url("../image/bg.jpg") fixed;
  padding: 0 10px 0 10px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: black;
  height: 10%;
}

#header-title {
  color: white;
  font-weight: 900;
  font-size: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-list {
  display: flex;
  height: 50%;
  box-sizing: border-box;
}
.button-list > * {
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-list :first-child {
  border-radius: 10px 0 0 10px;
}
.button-list :last-child {
  border-radius: 0 10px 10px 0;
}

#main-wrapper {
  color: black;
  background: #b5b5b5;
  padding: 10px;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: 5px 5px 0 0;
  height: 100%;
  width: 100%;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.grid-3x3-scroll {
  display: grid;
  grid-template-areas: "a b c";
  grid-auto-columns: minmax(0, 1fr);
  grid-gap: 10px;
  padding: 10px;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
}

.film-wrapper {
  width: 100%;
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  box-sizing: border-box;
}

.film-content-box {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
}

.film-img {
  width: 90%;
  box-sizing: border-box;
}
.film-img > * {
  height: 100%;
  width: 100%;
}

.film-img-single {
  width: 10%;
}

.film-title {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6em;
}

.film-btn {
  border-radius: 100% 100% 0 0;
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*# sourceMappingURL=main.css.map */
