body, html, h1 {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body, html {
	background: #b5b5b5;
	color: white;
}

*, :before, :after {
	box-sizing: border-box;
}

#homepage-text {
	display: flex;
	align-items: center;
	justify-content: center;
	color: black;
}
//TODO

a {
	color: blue;
	text-decoration: none;
}

.btn {
	margin: 0;
	border: 0;
	box-sizing: border-box;
	background: #2051a9;
	color: white;
	font-weight: bolder;
	padding: 0 10px 0 10px;

	&:hover {
		background: #1d4897;
	}

	&:active {
		background: #0c1e3e;
	}
}

body {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	align-items: center;
	background: url("../image/bg.jpg");
}

header, footer {
	width: 100%;
	background: rgba(255,255,255,0);
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	box-sizing: border-box;
}

header {
	$side-pad: 10px;
	height: 20%;
	display: flex;
	background: black;
	align-items: center;
	justify-content: space-around;
	font-weight: bolder;
	background: url("../image/bg.jpg") fixed;
	padding: 0 $side-pad 0 $side-pad;
}

footer {
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	background: black;
	height: 10%;
}

#header-title {
	color: white;
	font-weight: 900;
	font-size: 3em;
	display: flex;
	align-items: center;
	justify-content: center;
}

.button-list {
	$border-size: 10px;
	display: flex;
	height: 50%;
	box-sizing: border-box;
	& > * {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	& :first-child {
		border-radius: $border-size 0 0 $border-size;
	}

	& :last-child {
		border-radius: 0 $border-size $border-size 0;
	}
}

#main-wrapper {
	$border-r: 5px;
	color: black;
	background: #b5b5b5;
	padding: 10px;
	box-sizing: border-box;
	overflow-x: hidden;
	overflow-y: auto;
	border-radius: $border-r $border-r 0 0;
	height: 100%;
	width: 100%;
}

.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.grid-3x3-scroll {
	display: grid;
	grid-template-areas: "a b c";
	grid-auto-columns: minmax(0, 1fr);
	grid-gap: 10px;
	padding: 10px;
	box-sizing: border-box;
	overflow-x: hidden;
	overflow-y: auto;
}

.film-wrapper {
	width: 100%;
	height: 75vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: rgba(0,0,0,0.20);
	border-radius: 20px;
	box-sizing: border-box;
}

.film-content-box {
	width: 70%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	box-sizing: border-box;
}

.film-img {
	width: 90%;
	box-sizing: border-box;
	& > * {
		height: 100%;
		width: 100%;
	}
}

.film-img-single {
	width: 10%;
}

.film-title {
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.6em;
}

.film-btn {
	border-radius: 100% 100% 0 0;
	width: 100%;
	height: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
}