<%
if(typeof data !== 'undefined') {
    for( jokes_wrapper of data ) {
        %>
        <a class="joke-container" href="get/<%=jokes_wrapper["id"]%>"><%=jokes_wrapper["joke"]%></a>
        <%
	}
}
%>