h1, p {
    margin:0;
}

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: cursive;
}

body {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none !important;
    color: black;
}

.joke-container {
    width: 100%;
    height: 100%;
    font-size: x-large;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid grey;
    background: lightgray;
    margin: 9px 0;
    padding: 10px 10px;
    box-shadow: 4px 4px 4px black;
}

.larger-joke-text {
    font-size: xx-large;
}

.joke-container:hover {
    box-shadow: 6px 6px 6px black;
}

.btn {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
    border-radius: 4px;
    color: black;
    background: rgba(0,0,0,0.2);
}

.btn:hover {
    color: black;
    background: rgba(0,0,0,0.4);
}

.btn:active {
    color: black;
    background: rgba(0,0,0,0.6);
}

#main-h1 {
    display: flex;
    align-items: center;
}

#header-btns {
    display: grid;
    grid-template: "a b" auto;
    grid-auto-columns: minmax(0, 1fr);
    width: 100%;
    height: 100%;
    padding: 2%;
    grid-gap: 7%;
    margin: 0;
    box-sizing: border-box;
}

.background-grey {
    background: lightslategrey;
}

#header-wrapper {
    display: grid;
    grid-template: "a b" auto;
    grid-auto-columns: 1fr;
    padding: 0 5% 0 5%;
    box-sizing: border-box;
    width: 100%;
    height: 12%;
    grid-gap: 25%;
}

#main-wrapper {
    overflow: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 0 2% 0 2%;
}

#page-title-desc {
    padding-left: 10%;
}

#footer-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 8%;
}

#footer-content {
    text-align: center;
}

