<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TP3 - Jarvis</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>

<body>
<%-include('../partials/header.ejs')%>
<div id="main-wrapper">
    <%-body%>
</div>
<%-include('../partials/footer.ejs')%>
</body>

</html>