<form id="form-wrapper" method="POST" target="/login">
    <legend id="form-title">PLEASE LOGIN</legend>

    <div id="form-inputs">
        <input type="text" name="username" placeholder="username">
        <%if( usernameMsg ) {%><div class="err"><%=usernameMsg%></div><%}%>
        <input type="password" name="password" placeholder="password">
        <%if( passwdMsg ) {%><div class="err"><%=passwdMsg%></div><%}%>
    </div>

    <div id="form-btn-wrapper">
        <button class="btn-primary" type="submit">LOGIN</button>
    </div>
    <%if( badCreds ) {%><div class="err" style="margin-top: 2px;">Bad creditentials</div><%}%>
</form>