<div id="main-wrapper">
    <form method="POST" action="/movies/create" enctype="multipart/form-data">
        <input name="image" type="file" id="image-input">
        <input name="title" type="text">
        <div class="film-img"><img id="preview-image" src=""/></div>
        <button type="submit" id="submit-button"></button>
    </form>
</div>

<script>
	document.addEventListener('DOMContentLoaded', ()=>{
		const submitButton = document.getElementById("submit-button") ;
		const preview = document.getElementById("preview-image") ;

		const reader = new FileReader() ;
		reader.onload = (e)=>{
			preview.src = reader.result ;
		}

		const fileInput = document.getElementById("image-input") ;
		fileInput.addEventListener('change', ()=>{
			let file = fileInput.files[0] ;

			if(file && file.type.split('/')[0] === "image"){
				reader.readAsDataURL(fileInput.files[0])
				submitButton.disabled = false ;
			}else{
				submitButton.disabled = true ;
				preview.src = "" ;
			}
		})
	})
</script>
