<div id="main-wrapper" class="grid-3x3-scroll">
        <% for( data of movies ) { %>
            <div class="film-wrapper">
                <div class="film-content-box">
                    <div class="film-img">
                        <img src="<%=data["image"]%>">
                    </div>
                    <h1 class="film-title"><%=data["title"]%></h1>
<!--                 <h3 class="film-synopsis"><%=data["synopsis"]%></h3>-->
                    <a class="btn film-btn" href="/movies/get/<%=data["_id"]%>">More</a>
                </div>
            </div>
        <% } %>
</div>
