<div id="main-wrapper" class="flex-center" style="overflow-y: auto">
        <div class="film-img" style="width: 20%;"><img src="<%=movie["image"]%>"></div>
        <h1 class="film-title" style="font-size: 3em"><%=movie["title"]%></h1>
        <h3 class="film-synopsis"><%=movie["synopsis"]%></h3>
</div>
