html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#header, #footer{
    background:darkred;
    height:10vh;
}

#main {
    height:100%;
    flex-direction: column;
}