<form method="POST">
    <label> Nom:
        <input type="text" name="Nom" value="name">
    </label>

    <label> Prénom:
        <input type="text" name="Prénom" value="surname">
    </label>
    <button>submit</button>
</form>


