
<div id="footer-wrapper" class="background-grey">
    <h3 id="footer-content">
        Les blagues de cette exercices proviennent de
        <a href="https://icanhazdadjoke.com/">https://icanhazdadjoke.com/</a>
    </h3>
</div>

</body>
</html>