<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>ex 8 9 10</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
<%-include('../partials/header')%>

<div id="main-wrapper">
    <%-body%>
</div>

<%-include('../partials/footer')%>
</body>
</html>