body, html, h1 {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	color: white;
}

a {
	margin: 0;
	border: 0;
	box-sizing: border-box;
	background: rgba(35,86,170,0.95);
	color: white;
	font-weight: bolder;
	text-decoration: none !important;
	padding: 0 10px 0 10px;
}

body {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	align-items: center;
}

header, footer {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	box-sizing: border-box;
}

header {
	$side-pad: 10px;
	height: 20%;
	display: flex;
	background: black;
	align-items: center;
	justify-content: center;
	font-weight: bolder;
	background: url("../image/bg.jpg") fixed;
	padding: 0 $side-pad 0 $side-pad;
}

footer {
	color: white;
	background: black;
}

#header-title {
	color: white;
	font-weight: 900;
	font-size: 3em;
	display: flex;
	align-items: center;
	justify-content: center;
}

.button-list {
	$border-size: 10px;
	display: flex;
	height: 50%;
	box-sizing: border-box;
	&> * {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	& :first-child {
		border-radius: $border-size 0 0 $border-size;
	}

	& :last-child {
		border-radius: 0 $border-size $border-size 0;
	}
}

#main-wrapper {
	color: black;
	border-radius: 20px;
	height: 100%;
	width: 90%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.movie {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	& > * {
		font-weight: bolder;
	}
}

.movie_name {

}

hr {
	width: 100%;
}