<header>
    <div class="small-text" id="header-side-text">Mark III</div>
    <h1 id="main-title" class="big-text">JARVIS INTERFACE</h1>
    <a id="login-btn" href="/login"><button class="btn-primary small-text" href="/login">LOGIN</button></a>
</header>