<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

<%-include('../partials/header')%>
<div id="main-wrapper">
    <%-body%>
</div>
<%-include('../partials/footer')%>
</body>
</html>