body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

header, footer {
  background: red;
  height: 10%;
  width: 100%;
}

#main-wrapper {
  width: 100%;
  height: 100%;
}

/*# sourceMappingURL=main.css.map */
